#nav-bar #education {
    color: #a88297;
    text-decoration: underline;
}

.two-column-chunk {
    display: flex;
    text-align: center;
}

.two-column-chunk h4 {
    font-weight: 500;
    font-size: large;
}

.left-column {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #ffffff;
}

.right-column {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.bullets {
    columns: 2;
}

.bullets li::before {
    content: "-";
}

#footnote {
    padding-top: 5vh;
    padding-left: 5vw;
}

.gap {
    display: inline-block;
    width: 2em;
  }

/*Mobile*/
@media screen and (max-width: 1000px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    
    .two-column-chunk {
        display: block;
    }

    .left-column {
        border-right: none;
        padding-bottom: 20px;
    }

    .right-column {
        padding-top: 20px;
        border-top: 2px solid #ffffff;
    }
}