#nav-bar #research {
    color: #a88297;
    text-decoration: underline;
}


.research-pdf {
    flex: 1;
    margin-top: 20vh;
    height: 60vh;
    margin-right: 1.5vw;
}

/*Mobile*/
@media screen and (max-width: 1000px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    
    .text-image-chunk iframe {
        margin-top: 50px;
        display: flex;
        width: 70%;
        min-height: 40vh;
    }
}